// FOOTER
// container table
table(border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;")
  tr
    td(align="center")
      // wrapper table
      table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="600")
        tr
          td(align="center" style="padding: 20px 0 20px 0;")
            // content table
            table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="100%")
              tr
                td(class="body-text" align="center" style="font-family: 'Roboto', Helvetica, arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 24px; color: #666666;")
                  | #[span(class="appleFooter" style="color: #666666; font-weight: bold;") The Journal of the American Osteopathic Association]
              tr
                td(class="body-text" align="center" style="font-family: 'Roboto', Helvetica, arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 24px; color: #666666;")
                  | #[span(class="appleFooter" style="color: #666666; font-weight: normal; font-style: italic") 142 E. Ontario St., Chicago, IL 60611]
              tr
                td(class="body-text" align="center" style="font-family: 'Roboto', Helvetica, arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 24px; color: #666666;")
                  | #[span(class="appleFooter" style="color: #666666; font-weight: normal;") Questions? Email #[a(href="mailto:jaoa@osteopathic.org" style="text-decoration: underline; color: #666666; font-weight: normal;" target="_blank") jaoa.osteopathic.org]]
              tr
                td(align="center" style="padding: 12px 0px 0px 0px;")
                  table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="100%")
                    tr
                      td(align="right" style="padding: 0px 10px;")
                        a(href="https://www.youtube.com/channel/UCOZIEcxTXc01LjljeYtjRYw" style="text-decoration: none;" target="_blank")
                          img(src="http://aoa-mnews.informz.net/aoa-mnews/data/images/youtube.png" alt="YouTube" style="font-family: Arial; color: #ffffff; font-size: 14px;" width="38" height="30")
                      td(align="left" style="padding: 0px 10px;")
                        a(href="https://twitter.com/thejaoa" style="text-decoration: none;" target="_blank")
                          img(src="http://aoa-mnews.informz.net/aoa-mnews/data/images/twitter.png" alt="YouTube" style="font-family: Arial; color: #ffffff; font-size: 14px;" width="37" height="30")
