include ./../data-color-map
include ./mixins

// INTRO
tr
  td
    table(border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;")
      tr
        td(class="padding" align="center" bgcolor="#ffffff" style="padding: 40px 0px 40px 0px;")

          // wrapper table
          table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="520")
            tr
              td
                // content
                table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="31%" align="left")
                  tr
                    td(class="padding" align="center")
                      a(href="http://jaoa.org/Issue.aspx" target="_blank" style="text-decoration: none;")
                        img(src="http://aoa-do.informz.net/aoa-do/data/images/jaoa/cover-2017-01-31.png" width="188" height="260" border="1" alt="JAOA cover" style="display: block; padding: 0; color: #ffffff; font-family: Helvetica, arial, sans-serif; font-size: 16px; border: 1px solid #cccccc;")

                table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="58%" align="right")
                  tr
                    td(class="mobile-text-center" style="padding: 0 0 20px 0; font-family: 'Raleway', Helvetica, arial, sans-serif; font-weight: 500; font-size: 22px; text-align: left; line-height: 28px; color: #{colorMap.blue.full};").
                      Role of Diagnosis in Quality Patient Care
                  tr
                    td(class="intro-text" style="padding: 0 0 20px 0; font-family: 'Roboto', Helvetica, arial, sans-serif; font-weight: normal; font-size: 16px; text-align: left; line-height: 20px; color: #666666;").
                      Reports on a patient-authored history form, foot and ankle injuries, and osteopathic structural examinations for ectopic pregnancies.
                  tr
                    td(class="padding")
                      +button(colorMap.blue.full, 'http://jaoa.org/Issue.aspx', 'SEE FEBRUARY ISSUE')
