- var colorMap = {
-  purple: {
-    full: '#a464c5',
-    tint: '#DBC1E8',
-    lightest: '',
-  },
-  red: {
-    full: '#f26046',
-    tint: '#FABFB5',
-    lightest: '#FDE9E6',
-  },
-  green: {
-    full: '#7abfb4',
-    tint: '#D7EBE8',
-    lightest: '',
-  },
-  blue: {
-    full: '#4e98da',
-    tint: '#B8D6F0',
-    lightest: '#E8F1FA',
-  },
- };

- var articles = [
-   {
-     headline: "Ten Tips for Maximizing the Effectiveness of Emergency Medicine Procedure Laboratories",
-     category: "Letters to the Editor",
-     authors: "Joshua D. Lenchus, DO",
-     blurb: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui.",
-     url: "http://jaoa.org/article.aspx?articleid=2588518",
-     color: colorMap.green,
-     free: true,
-     image_src: '',
-     video: false,
-     series: false,
-   },
-   {
-     headline: "Assessment of Hospital Staff’s Knowledge of Osteopathic Manipulative Medicine: A Survey-Based Study",
-     category: "ORIGINAL CONTRIBUTION",
-     authors: "Jessica B. Smith-Kelly, DO; Andres Cardenas, PhD, MPH",
-     blurb: "Osteopathic manipulative treatment can shorten hospital length of stay, yet hospital staff may be unaware of this treatment option. The authors investigated knowledge of osteopathic manipulative medicine by job category at one hospital.",
-     url: "http://jaoa.org/article.aspx?articleid=2588519",
-     color: colorMap.purple,
-     free: false,
-     image_src: '',
-     video: true,
-     series: { nth: 1, n: 2 },
-   },
-   {
-     headline: "Association Between WIC Enrollment and Exclusive Breastfeeding at 3 Months Postpartum Among Low-Income Mothers",
-     category: "ORIGINAL CONTRIBUTION",
-     authors: "John Francescon, OMS III; Zelalem T. Haile, PhD, MPH; David Kling, OMS III; Ilana Chertok, PhD, MSN, RN, IBCLC",
-     blurb: "The association between exposure to the Special Supplemental Nutrition Program for Women, Infants, and Children and exclusive breastfeeding at 3 months postpartum was examined.",
-     url: "http://jaoa.org/article.aspx?articleid=2588520",
-     color: colorMap.purple,
-     free: false,
-     image_src: '',
-     video: false,
-     series: { nth: 2, n: 2 },
-   },
-   {
-     headline: "Effectiveness of Shared Medical Appointments Targeting the Triple Aim Among Patients With Overweight, Obesity, or Diabetes",
-     category: "Review",
-     authors: "Kristi H. Trickett, DO; Paul M. Matiaco, OMS III; Kathryn Jones, DO; Bernadette Howlett, PhD; Kathaleen Briggs Early, PhD, RDN, CDE",
-     blurb: "Shared medical appointments represent a paradigm shift in health care. Not only have they been reported to reduce costs and improve health, but they also offer peer support, which may be effective for conditions such as obesity and diabetes.",
-     url: "http://jaoa.org/article.aspx?articleid=2588521",
-     color: colorMap.purple,
-     free: false,
-     image_src: '',
-     video: false,
-     series: false,
-   },
-   {
-     headline: "Are Low-Carbohydrate Diets Safe and Effective?",
-     category: "clinical review",
-     authors: "Heather Fields, MD; Barbara Ruddy, MD; Mark R. Wallace, MD; Amit Shah, MD; Denise Millstine, MD",
-     blurb: "Fields and colleagues looked at the effects of low-carbohydrate diets on weight loss, blood pressure, glucose levels, and lipid levels in this review of the literature.",
-     url: "http://jaoa.org/article.aspx?articleid=2588522",
-     color: colorMap.red,
-     free: true,
-     image_src: '',
-     video: false,
-     series: false,
-   },
-   {
-     headline: "Ten Tips for Maximizing the Effectiveness of Emergency Medicine Procedure Laboratories",
-     category: "Letters to the Editor",
-     authors: "Joshua D. Lenchus, DO",
-     blurb: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui.",
-     url: "http://jaoa.org/article.aspx?articleid=2588518",
-     color: colorMap.purple,
-     free: true,
-     image_src: '',
-     video: true,
-     series: false,
-   },
-   {
-     headline: "Alternative Scheduling Models: Improving Continuity of Care, Medical Outcomes, and Graduate Medical Education in Resident Ambulatory Training",
-     category: "Medical Education",
-     authors: "Ali J. Hussain, PhD, DO",
-     blurb: "Allopathic residency programs have shown improved clinical teaching and learning and increased resident satisfaction after implementing alternative scheduling models. The author urges osteopathic graduate medical education to embrace these new models.",
-     url: "http://jaoa.org/article.aspx?articleid=2588523",
-     color: colorMap.purple,
-     free: false,
-     image_src: 'http://aoa-mnews.informz.net/aoa-mnews/data/images/myxedema2x1.jpg',
-     video: false,
-     series: false,
-   },
-   {
-     headline: "Update on the Pharmacology and Legal Status of Kratom",
-     category: "Special Communication",
-     authors: "Walter C. Prozialeck, PhD",
-     blurb: "Kratom is a tree whose leaves have psychoactive effects when ingested. The author provides an update on the potential medicinal value, the need for research, and the legal status of kratom.",
-     url: "http://jaoa.org/article.aspx?articleid=2588524",
-     color: colorMap.purple,
-     free: true,
-     image_src: '',
-     video: false,
-     series: false,
-   },
-   {
-     headline: "Osteopathic Manipulative Treatment for Somatic Dysfunction After Acute Severe Traumatic Brain Injury",
-     category: "Case Report",
-     authors: "Adrienne McCallister, DO; Christopher Brown, DO; Michael Smith, DO; Hugh Ettlinger, DO; Gerard A. Baltazar, DO",
-     blurb: "Two patients with acute severe traumatic brain injury were treated with osteopathic manipulative treatment.",
-     url: "http://jaoa.org/article.aspx?articleid=2588518",
-     color: colorMap.purple,
-     free: false,
-     image_src: 'http://aoa-mnews.informz.net/aoa-mnews/data/images/video-omt-pregnancy-1.jpg',
-     video: true,
-     series: false,
-   },
-   {
-     headline: "Bipartite Patella",
-     category: "Clinical Images",
-     authors: "Chandra M. Jennings, OMS IV, MPH; Lindsay Tjiattas-Saleski, DO, MBA",
-     blurb: "Vestibulum id ligula porta felis euismod semper. Maecenas sed diam eget risus varius blandit sit amet non magna.",
-     url: "http://jaoa.org/article.aspx?articleid=2588526",
-     color: colorMap.red,
-     free: false,
-     image_src: '',
-     video: false,
-     series: false,
-   },
-   {
-     headline: "CME Quiz",
-     category: "CME Quiz",
-     blurb: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui.",
-     url: "http://jaoa.org/article.aspx?articleid=2588527",
-     color: colorMap.blue,
-     free: false,
-     image_src: '',
-     video: false,
-     series: false,
-   },
- ];

