include ./data-color-map

-var categoryColors = {
- "Original Contributions": colorMap.purple,
- "Reviews": colorMap.purple,
- "Evidence-Based Clinical Reviews": colorMap.purple,
- "Clinical Review": colorMap.purple,
- "Clinical Practice": colorMap.purple,
- "Brief Reports": colorMap.purple,
- "Medical Education": colorMap.purple,
- "Case Reports": colorMap.purple,
- "Special Communication": colorMap.purple,
- "Special Report": colorMap.green,
- "Health Policy": colorMap.green,
- "Still Relevant?":  colorMap.green,
- "Editorials": colorMap.green,
- "In My View": colorMap.green,
- "Empathy in Medicine": colorMap.red,
- "The Somatic Connection": colorMap.red,
- "Clinical Images": colorMap.red,
- "In Your Words": colorMap.red,
- "Letters to the Editor": colorMap.green,
- "SURF": colorMap.red,
- "CME Quiz": colorMap.blue,
- "Book Reviews": colorMap.red,
- };
