include ./data-color-map
include ./data-category-colors

- var articles = [
-  {
-    "headline": "Keeping Osteopathic Medicine Osteopathic in a Single Accreditation System for Graduate Medical Education",
-    "category": "Editorial",
-    "authors": "Martin S. Levine, DO",
-    "blurb": "",
-    "url": "http://jaoa.org/article.aspx?articleid=2595724",
-     color: colorMap.green,
-    "free": true,
-    "video": false,
-    "series": false,
-  },
-  {
-    "headline": "Assessment of Patient Adherence to Direct Oral Anticoagulant vs Warfarin Therapy",
-    "category": "Original Contribution",
-    "authors": "Salma I. Patel, MD, MPH; Chad Cherington, MD; Robyn Scherber, MD; Kathryn Barr, CNP; Ryan McLemore, PhD; Donald E. Morisky, ScD; Stephen Cha, MS; Farouk Mookadam, MD; Fadi Shamoun, MD",
-    "blurb": "The authors evaluated electronic medical records at the Mayo Clinic to assess adherence rates for patients taking direct oral anticoagulants and patients taking warfarin.",
-    "url": "http://jaoa.org/article.aspx?articleid=2595736",
-     color: colorMap.purple,
-    "free": false,
-    "video": false,
-    "series": { nth: 1, n: 2 },
-  },
-  {
-    "headline": "Physiologic Response to HIPEC: Sifting Through Perturbation to Identify Markers of Complications",
-    "category": "Original Contribution",
-    "authors": "Timothy P. Plackett, DO, MPH; Hieu H. Ton-That, MD; Michael J. Mosier, MD; Gerard J. Abood, MD; Paul C. Kuo, MD; Sam G. Pappas, MD",
-    "blurb": "The postoperative physiologic effects of hyperthermic intraperitoneal chemotherapy delivered during cytoreductive surgery were retrospectively examined for indicators of serious complications.",
-    "url": "http://jaoa.org/article.aspx?articleid=2595721",
-     color: colorMap.purple,
-    "free": false,
-    "video": false,
-    "series": { nth: 2, n: 2 },
-  },
-  {
-    "headline": "Forward Head Posture and Activation of Rectus Capitis Posterior Muscles",
-    "category": "Brief Report",
-    "authors": "Richard C. Hallgren, PhD; Steven J. Pierce, PhD; Dhruv B. Sharma, PhD; Jacob J. Rowan, DO",
-    "blurb": "Rectus capitis posterior muscle activity was measured using electromyography to determine the role of these muscles in maintaining occipitoatlantal and atlantoaxial joint congruency.",
-    "url": "http://jaoa.org/article.aspx?articleid=2595722",
-     color: colorMap.purple,
-    "free": false,
-    "video": false,
-    "series": false,
-  },
-  {
-    "headline": "Delirium Update for Postacute Care and Long-Term Care Settings: A Narrative Review",
-    "category": "Review",
-    "authors": "Martin M. Forsberg, MD",
-    "blurb": "Risk factors, outcomes, identification, prevention, and management of delirium in elderly patients in postacute and long-term care settings are discussed.",
-    "url": "http://jaoa.org/article.aspx?articleid=2595723",
-     color: colorMap.purple,
-    "free": true,
-    "video": false,
-    "series": false,
-  },
-  {
-    "headline": "Osteopathic Philosophy and Manipulation Enhancement Program: Influence on Osteopathic Medical Students’ Interest in Osteopathic Manipulative Medicine",
-    "category": "Medical Education",
-    "authors": "Mikhail Volokitin, MD, DO; Pavan V. Ganapathiraju, MPH, DO",
-    "blurb": "The authors studied whether the osteopathic philosophy and manipulation enhancement program can maintain and expand students' interest in osteopathic manipulative medicine.",
-    "url": "http://jaoa.org/article.aspx?articleid=2595725",
-     color: colorMap.purple,
-    "free": false,
-    "video": false,
-    "series": false,
-  },
-  {
-    "headline": "Myxedema Psychosis in a Patient With Undiagnosed Hashimoto Thyroiditis",
-    "category": "Case Report",
-    "authors": "Matthew M. Mavroson, DO; Nirav Patel, DO; Eleonora Akker, DO",
-    "blurb": "A man with an unremarkable medical history presented with psychosis. An endocrinology consultation led to his hospital admission and ultimate diagnosis.",
-    "url": "http://jaoa.org/article.aspx?articleid=2595726",
-    color: colorMap.purple,
-    image_src: 'http://aoa-mnews.informz.net/aoa-mnews/data/images/myxedema2x1.jpg',
-    "free": false,
-    "video": false,
-    "series": false,
-  },
-  {
-    "headline": "Evidence Supporting the Benefits of Manual Therapy for Carpal Tunnel Syndrome",
-    "category": "The Somatic Connection",
-    "authors": "Melissa Yunting Tang, BS; Michael A. Seffinger, DO",
-    "blurb": "",
-    "url": "http://jaoa.org/article.aspx?articleid=2595727",
-     color: colorMap.red,
-    "free": false,
-    "video": false,
-    "series": { nth: 1, n: 6 },
-  },
-  {
-    "headline": "Inconclusive Evidence of Benefits of Nonsurgical Interventions for Carpal Tunnel Syndrome",
-    "category": "The Somatic Connection",
-    "authors": "Melissa Yunting Tang, BS; Michael A. Seffinger, DO",
-    "blurb": "",
-    "url": "http://jaoa.org/article.aspx?articleid=2595728",
-     color: colorMap.red,
-    "free": false,
-    "video": false,
-    "series": { nth: 2, n: 6 },
-  },
-  {
-    "headline": "Spinal Manipulation and Mobilization Therapy for Cervicogenic Headache",
-    "category": "The Somatic Connection",
-    "authors": "Michael A. Seffinger, DO; Melissa Yunting Tang, BS",
-    "blurb": "",
-    "url": "http://jaoa.org/article.aspx?articleid=2595729",
-     color: colorMap.red,
-    "free": false,
-    "video": false,
-    "series": { nth: 3, n: 6 },
-  },
-  {
-    "headline": "Manual Craniosacral Therapy May Reduce Symptoms of Migraine Headache",
-    "category": "The Somatic Connection",
-    "authors": "Hollis H. King, DO, PhD",
-    "blurb": "",
-    "url": "http://jaoa.org/article.aspx?articleid=2595730",
-     color: colorMap.red,
-    "free": false,
-    "video": false,
-    "series": { nth: 4, n: 6 },
-  },
-  {
-    "headline": "Manual Therapy Lowers Psychological Aggravations in Patients WIth Tension-Type Headache",
-    "category": "The Somatic Connection",
-    "authors": "Melissa Yunting Tang, BS; Hollis H. King, DO, PhD",
-    "blurb": "",
-    "url": "http://jaoa.org/article.aspx?articleid=2595731",
-     color: colorMap.red,
-    "free": false,
-    "video": false,
-    "series": { nth: 5, n: 6 },
-  },
-  {
-    "headline": "Recognizing the Value of Manual Therapy Interventions for Head Pain",
-    "category": "The Somatic Connection",
-    "authors": "Hollis H. King, DO, PhD",
-    "blurb": "",
-    "url": "http://jaoa.org/article.aspx?articleid=2595732",
-     color: colorMap.red,
-    "free": false,
-    "video": false,
-    "series": { nth: 6, n: 6 },
-  },
-  {
-    "headline": "Esophageal Perforation Caused by Chicken Bone Ingestion",
-    "category": "Clinical Images",
-    "authors": "Eric J. Marple, DO; Xiaolu W. Carter, DO",
-    "blurb": "",
-    "url": "http://jaoa.org/article.aspx?articleid=2595733",
-     color: colorMap.red,
-    "free": false,
-    "video": false,
-    "series": { nth: 1, n: 2 },
-  },
-  {
-    "headline": "Blue Sclera and Tendon Rupture",
-    "category": "Clinical Images",
-    "authors": "Shashi Gavini, OMS IV; Steven Turpin, MSVS; Leonid Skorin, Jr, DO, OD, MS",
-    "blurb": "",
-    "url": "http://jaoa.org/article.aspx?articleid=2595734",
-     color: colorMap.red,
-    "free": false,
-    "video": false,
-    "series": { nth: 2, n: 2 },
-  },
-  {
-    "headline": "CME Quiz",
-    "category": "CME Quiz",
-    "authors": "",
-    "blurb": "Earn 2 Category 1-B continuining medical education credits.",
-    "url": "http://jaoa.org/article.aspx?articleid=2595735",
-     color: colorMap.blue,
-    "free": false,
-    "video": false,
-    "series": false,
-  }
- ];
