// CONTAINER FOR EMAIL
table(border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;")
  tr
    td(align="center" bgcolor="#f1f2f2")

      // EMAIL START
      // wrapper table
      table(border="0" cellpadding="0" cellspacing="0" width="600")
        tr
          td(style="padding: 72px 0px 0px 0px;")
        tr
          td(style="box-shadow: 0px 0px 12px #888888;")




            // HEADER
            // container table
            table(border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;")
              tr
                td(align="center")
                  // content
                  table(border="0" cellpadding="0" cellspacing="0" width="600")
                    tr
                      td(align="center" bgcolor="#1A2026" style="padding: 15px 0px 15px 0px;")
                        img(border="0" src="./images/jaoa-logo.png" alt="JAOA logo" width="300" height="52" style="display: block; padding: 0; color: #ffffff; font-family: Helvetica, arial, sans-serif; font-size: 16px;")
            



            // VINTAGE BANNER
            // container table
            table(border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;")
              tr
                td(align="center")
                  // wrapper table
                  table(border="0" cellpadding="0" cellspacing="0" width="600")
                    tr
                      td
                        // content
                        table(border="0" cellpadding="0" cellspacing="0" width="100%")
                          tr
                            td
                              img(src="images/december-banner.png" width="600" height="300" border="0" alt="Vintage stomach illustration" style="display: block; padding: 0; color: #ffffff; font-family: Helvetica, arial, sans-serif; font-size: 16px;")





            // INTRO
            // container table
            table(border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;")
              tr
                td(align="center" bgcolor="#ffffff" style="padding: 40px 0px 40px 0px;")
                  // wrapper table
                  table(border="0" cellpadding="0" cellspacing="0" width="520")
                    tr
                      td
                        // content
                        table(border="0" cellpadding="0" cellspacing="0" width="31%" align="left")
                          tr
                            td
                              a(href="#" target="_blank" style="text-decoration: none;")
                                img(src="images/cover.jpg" width="188" height="260" border="1" alt="JAOA cover" style="display: block; padding: 0; color: #ffffff; font-family: Helvetica, arial, sans-serif; font-size: 16px; border: 1px solid #cccccc;")
      
                        table(border="0" cellpadding="0" cellspacing="0" width="58%" align="right")
                          tr
                            td(style="padding: 0 0 20px 0; font-family: 'Raleway', Helvetica, arial, sans-serif; font-weight: normal; font-size: 28px; text-align: left; line-height: 32px; color: #ff6633;").
                              Lorem Ipsum Dolor
                          tr
                            td(style="padding: 0 0 20px 0; font-family: 'Roboto', Helvetica, arial, sans-serif; font-weight: normal; font-size: 16px; text-align: left; line-height: 20px; color: #666666;").
                                Sed posuere consectetur est at lobortis. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.
                          tr
                            td
                              // BUTTON
                              table(border="0" cellpadding="0" cellspacing="0" width="100%")
                                tr
                                  td
                                    table(border="0" cellspacing="0" cellpadding="0" align="center")
                                      tr
                                        td(style="padding: 11px 18px 11px 18px; border-top: 1px solid #ff6633; border-right: 1px solid #ff6633; border-bottom: 1px solid #ff6633; border-left: 1px solid #ff6633;" align="center")
                                          a(href="#" style="display: inline-block; letter-spacing: .5px; font-size: 16px; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight: normal; color: #ff6633; text-decoration: none; text-transform: uppercase;") SEE NEW ISSUE



            // ARTICLE
            // container table
            table(border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;")
              tr
                td(align="center" bgcolor="#ffffff" style="padding: 0px 0px 40px 0px;")

                  // wrapper table
                  table(border="0" cellpadding="0" cellspacing="0" width="520"  style="border-left: 1px solid #cccccc; border-right: 1px solid #cccccc; border-bottom: 1px solid #cccccc;")
                    tr
                      td
                        // content
                        table(border="0" cellpadding="0" cellspacing="0" width="100%" align="center" bgcolor="#7abfb4")
                          tr
                            td(align="center")
                              table(border="0" cellpadding="0" cellspacing="0" width="480")
                                tr
                                  // vertical spacer
                                  td(style="padding: 5px 25px 10px 25px;")
                                tr
                                  td(style="border-top: 4px solid #d7ebe8;" width="100%")
                                tr
                                  td(style="padding: 5px 0px 10px 0px; font-family: 'Raleway', Helvetica, arial, sans-serif; font-weight: normal; font-size: 26px; line-height: 30px; text-transform: uppercase; color: #ffffff;").
                                    LETTERS TO THE EDITOR

                        // headline
                        table(border="0" cellpadding="0" cellspacing="0" width="480" align="center")
                          tr
                            td(style="padding: 10px 0px 20px 0px;")
                              a(href="#" style="text-decoration: none; font-family: 'Raleway', Helvetica, arial, sans-serif; font-weight: normal; font-size: 28px; line-height: 34px; color: #7abfb4;").
                                Ten Tips for Maximizing the Effectiveness of Emergency Medicine Procedure Laboratories
                          tr
                            td(style="padding: 0px 0px 20px 0px; font-family: 'Roboto', Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; text-align: left; line-height: 17px; color: #666666;").
                              Joshua D. Lenchus, DO
                          tr
                            td(style="padding: 0px 0px 20px 0px; font-family: 'Roboto', Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; text-align: left; line-height: 17px; font-style: italic; color: #666666;").
                              The Journal of the American Osteopathic Association, December 2016, Vol. 116, 762. doi:10.7556/jaoa.2016.150
                          tr
                            td(style="padding: 0px 0px 20px 0px;")
                              // BUTTON
                              table(width="100%" border="0" cellspacing="0" cellpadding="0")
                                tr
                                  td(align="center" style="padding: 0;")
                                    table(border="0" cellspacing="0" cellpadding="0")
                                      tr
                                        td(align="center")
                                          a(href="#" target="_blank" style="font-size: 15px; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight: normal; color: #ffffff; text-decoration: none; text-transform: uppercase; letter-spacing: .5px; background-color: #7abfb4; border-top: 10px solid #7abfb4; border-bottom: 10px solid #7abfb4; border-left: 20px solid #7abfb4; border-right: 20px solid #7abfb4; display: inline-block;").
                                            READ NOW #[span(style="text-transform: none;") (Free)]



            // ARTICLE
            // container table
            table(border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;")
              tr
                td(align="center" bgcolor="#ffffff" style="padding: 0px 0px 40px 0px;")

                  // wrapper table
                  table(border="0" cellpadding="0" cellspacing="0" width="520"  style="border-left: 1px solid #cccccc; border-right: 1px solid #cccccc; border-bottom: 1px solid #cccccc;")
                    tr
                      td
                        // header
                        table(border="0" cellpadding="0" cellspacing="0" width="100%" align="center" bgcolor="#a464c5")
                          tr
                            td(align="center")
                              table(border="0" cellpadding="0" cellspacing="0" width="480")
                                tr
                                  // vertical spacer
                                  td(style="padding: 5px 25px 10px 25px;")
                                tr
                                  td(style="border-top: 4px solid #dbc1e8;" width="100%")
                                tr
                                  td(style="padding: 5px 0px 10px 0px; font-family: 'Raleway', Helvetica, arial, sans-serif; font-weight: normal; font-size: 26px; line-height: 30px; text-transform: uppercase; color: #ffffff;").
                                    ORIGINAL CONTRIBUTION

                        // body
                        table(border="0" cellpadding="0" cellspacing="0" width="480" align="center")
                          tr
                            td(style="padding: 10px 0px 20px 0px;")
                              a(href="http://jaoa.org/article.aspx?articleid=2588519" style="text-decoration: none; font-family: 'Raleway', Helvetica, arial, sans-serif; font-weight: normal; font-size: 28px; line-height: 34px; color: #a464c5;").
                                Assessment of Hospital Staff’s Knowledge of Osteopathic Manipulative Medicine: A Survey-Based Study
                          tr
                            td(style="padding: 0px 0px 20px 0px; font-family: 'Roboto', Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; text-align: left; line-height: 17px; color: #666666;").
                              Jessica B. Smith-Kelly, DO; Andres Cardenas, PhD, MPH
                          tr
                            td(style="padding: 0px 0px 20px 0px; font-family: 'Roboto', Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; text-align: left; line-height: 17px; font-style: italic; color: #666666;").
                              The Journal of the American Osteopathic Association, December 2016, Vol. 116, 764-769. doi:10.7556/jaoa.2016.151
                          tr
                            td(style="padding: 0px 0px 20px 0px;")
                              // BUTTON
                              table(width="100%" border="0" cellspacing="0" cellpadding="0")
                                tr
                                  td(align="center" style="padding: 0;")
                                    table(border="0" cellspacing="0" cellpadding="0")
                                      tr
                                        td(align="center")
                                          a(href="http://jaoa.org/article.aspx?articleid=2588519" target="_blank" style="font-size: 15px; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight: normal; color: #ffffff; text-decoration: none; text-transform: uppercase; letter-spacing: .5px; background-color: #a464c5; border-top: 10px solid #a464c5; border-bottom: 10px solid #a464c5; border-left: 20px solid #a464c5; border-right: 20px solid #a464c5; display: inline-block;").
                                            READ NOW
                          tr
                            td(style="padding: 0px 0px 10px 0px; border-bottom: 1px solid #cccccc")
                          tr
                            td(style="padding: 0px 0px 10px 0px;")

                        // body
                        table(border="0" cellpadding="0" cellspacing="0" width="480" align="center")
                          tr
                            td(style="padding: 10px 0px 20px 0px;")
                              a(href="http://jaoa.org/article.aspx?articleid=2588519" style="text-decoration: none; font-family: 'Raleway', Helvetica, arial, sans-serif; font-weight: normal; font-size: 28px; line-height: 34px; color: #a464c5;").
                                Association Between WIC Enrollment and Exclusive Breastfeeding at 3 Months Postpartum Among Low-Income Mothers
                          tr
                            td(style="padding: 0px 0px 20px 0px; font-family: 'Roboto', Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; text-align: left; line-height: 17px; color: #666666;").
                              John Francescon, OMS III; Zelalem T. Haile, PhD, MPH; David Kling, OMS III; Ilana Chertok, PhD, MSN, RN, IBCLC
                          tr
                            td(style="padding: 0px 0px 20px 0px; font-family: 'Roboto', Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; text-align: left; line-height: 17px; font-style: italic; color: #666666;").
                              The Journal of the American Osteopathic Association, December 2016, Vol. 116, 770-779. doi:10.7556/jaoa.2016.152
                          tr
                            td(style="padding: 0px 0px 20px 0px;")
                              // BUTTON
                              table(width="100%" border="0" cellspacing="0" cellpadding="0")
                                tr
                                  td(align="center" style="padding: 0;")
                                    table(border="0" cellspacing="0" cellpadding="0")
                                      tr
                                        td(align="center")
                                          a(href="http://jaoa.org/article.aspx?articleid=2588519" target="_blank" style="font-size: 15px; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight: normal; color: #ffffff; text-decoration: none; text-transform: uppercase; letter-spacing: .5px; background-color: #a464c5; border-top: 10px solid #a464c5; border-bottom: 10px solid #a464c5; border-left: 20px solid #a464c5; border-right: 20px solid #a464c5; display: inline-block;").
                                            READ NOW


            // ARTICLE
            // container table
            table(border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;")
              tr
                td(align="center" bgcolor="#ffffff" style="padding: 0px 0px 40px 0px;")

                  // wrapper table
                  table(border="0" cellpadding="0" cellspacing="0" width="520"  style="border-left: 1px solid #cccccc; border-right: 1px solid #cccccc; border-bottom: 1px solid #cccccc;")
                    tr
                      td
                        // header
                        table(border="0" cellpadding="0" cellspacing="0" width="100%" align="center" bgcolor="#f26046")
                          tr
                            td(align="center")
                              table(border="0" cellpadding="0" cellspacing="0" width="480")
                                tr
                                  // vertical spacer
                                  td(style="padding: 5px 25px 10px 25px;")
                                tr
                                  td(style="border-top: 4px solid #fabfb5;" width="100%")
                                tr
                                  td(style="padding: 5px 0px 10px 0px; font-family: 'Raleway', Helvetica, arial, sans-serif; font-weight: normal; font-size: 26px; line-height: 30px; text-transform: uppercase; color: #ffffff;").
                                    CLINICAL REVIEW

                        // body
                        table(border="0" cellpadding="0" cellspacing="0" width="480" align="center")
                          tr
                            td(style="padding: 10px 0px 20px 0px;")
                              a(href="http://jaoa.org/article.aspx?articleid=2588522" style="text-decoration: none; font-family: 'Raleway', Helvetica, arial, sans-serif; font-weight: normal; font-size: 28px; line-height: 34px; color: #f26046;").
                                Are Low-Carbohydrate Diets Safe and Effective? 
                          tr
                            td(style="padding: 0px 0px 20px 0px; font-family: 'Roboto', Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; text-align: left; line-height: 17px; color: #666666;").
                              Heather Fields, MD; Barbara Ruddy, MD; Mark R. Wallace, MD; Amit Shah, MD; Denise Millstine, MD
                          tr
                            td(style="padding: 0px 0px 20px 0px; font-family: 'Roboto', Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; text-align: left; line-height: 17px; font-style: italic; color: #666666;").
                              The Journal of the American Osteopathic Association, December 2016, Vol. 116, 788-793. doi:10.7556/jaoa.2016.154
                          tr
                            td(style="padding: 0px 0px 20px 0px;")
                              // BUTTON
                              table(width="100%" border="0" cellspacing="0" cellpadding="0")
                                tr
                                  td(align="center" style="padding: 0;")
                                    table(border="0" cellspacing="0" cellpadding="0")
                                      tr
                                        td(align="center")
                                          a(href="http://jaoa.org/article.aspx?articleid=2588522" target="_blank" style="font-size: 15px; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight: normal; color: #ffffff; text-decoration: none; text-transform: uppercase; letter-spacing: .5px; background-color: #f26046; border-top: 10px solid #f26046; border-bottom: 10px solid #f26046; border-left: 20px solid #f26046; border-right: 20px solid #f26046; display: inline-block;").
                                            READ NOW



        tr
          td(style="padding: 0px 0px 72px 0px;")
