include ./includes/data

// CONTAINER FOR EMAIL
table(border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;")
  tr
    td(align="center" bgcolor="#f1f2f2")

      // EMAIL START
      // wrapper table
      table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="600")
        tr
          td
            table(border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;")
              tr
                td(align="center" style="padding: 10px 0 10px 0;")
                  // wrapper table
                  table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="600")
                    tr
                      td(align="center")
                        // content table
                        table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="100%")
                          tr
                            td(class="body-text" align="center" style="font-family: 'Roboto', Helvetica, arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 24px; color: #c3c3c3;")
                              | View in Browser

            include ./includes/v2/header

        include ./includes/v2/banner

        include ./includes/v2/intro

        include ./includes/v2/mixins

        -for a in articles
          +article(a)

        tr
          td(align="center")
            include ./includes/v2/footer
                        
        tr
          td(style="padding: 0px 0px 36px 0px;")
