// CONTAINER FOR EMAIL
table(border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;")
  tr
    td(align="center" bgcolor="#f1f2f2")

      // EMAIL START
      // wrapper table
      table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="600")
        tr
          td
            table(border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;")
              tr
                td(align="center" style="padding: 10px 0 10px 0;")
                  // wrapper table
                  table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="600")
                    tr
                      td(align="center")
                        // content table
                        table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="100%")
                          tr
                            td(class="body-text" align="center" style="font-family: 'Roboto', Helvetica, arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 24px; color: #c3c3c3;")
                              | View in Browser
                              




            // HEADER
            // container table
            table(border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;")
              tr
                td(align="center")
                  // content
                  table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="600")
                    tr
                      td(align="center" bgcolor="#1A2026" style="padding: 15px 0px 15px 0px;")
                        img(class="fluid-image" border="0" src="http://aoa-do.informz.net/aoa-do/data/images/jaoa/jaoa-logo.png" alt="JAOA logo" width="300" height="52" style="display: block; padding: 0; color: #ffffff; font-family: Helvetica, arial, sans-serif; font-size: 16px;")

        // VINTAGE BANNER
        // container table
        tr
          td
            table(border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;")
              tr
                td(align="center")
                  // wrapper table
                  table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="600")
                    tr
                      td
                        // content
                        table(border="0" cellpadding="0" cellspacing="0" width="100%")
                          tr
                            td
                              img(class="fluid-image" src="http://aoa-do.informz.net/aoa-do/data/images/jaoa/december-banner.png" width="600" height="300" border="0" alt="Vintage stomach illustration" style="display: block; padding: 0; color: #ffffff; font-family: Helvetica, arial, sans-serif; font-size: 16px;")


        // INTRO
        // container table
        tr
          td
            table(border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;")
              tr
                td(class="padding" align="center" bgcolor="#ffffff" style="padding: 40px 0px 40px 0px;")

                  // wrapper table
                  table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="520")
                    tr
                      td
                        // content
                        table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="31%" align="left")
                          tr
                            td(class="padding" align="center")
                              a(href="#" target="_blank" style="text-decoration: none;")
                                img(src="http://aoa-do.informz.net/aoa-do/data/images/jaoa/cover.jpg" width="188" height="260" border="1" alt="JAOA cover" style="display: block; padding: 0; color: #ffffff; font-family: Helvetica, arial, sans-serif; font-size: 16px; border: 1px solid #cccccc;")
      
                        table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="58%" align="right")
                          tr
                            td(class="mobile-text-center" style="padding: 0 0 20px 0; font-family: 'Raleway', Helvetica, arial, sans-serif; font-weight: normal; font-size: 28px; text-align: left; line-height: 32px; color: #ff6633;").
                              Lorem Ipsum Dolor
                          tr
                            td(class="intro-text" style="padding: 0 0 20px 0; font-family: 'Roboto', Helvetica, arial, sans-serif; font-weight: normal; font-size: 16px; text-align: left; line-height: 20px; color: #666666;").
                                Sed posuere consectetur est at lobortis. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.
                          tr
                            td(class="padding")
                              // BUTTON
                              table(border="0" cellpadding="0" cellspacing="0" width="100%")
                                tr
                                  td
                                    table(border="0" cellspacing="0" cellpadding="0" align="center")
                                      tr
                                        td(style="padding: 11px 18px 11px 18px;" align="center")
                                          a(class="body-text" href="#" target="_blank" style="font-size: 15px; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight: normal; color: #ffffff; text-decoration: none; text-transform: uppercase; letter-spacing: .5px; background-color: #ff6633; border-top: 10px solid #ff6633; border-bottom: 10px solid #ff6633; border-left: 20px solid #ff6633; border-right: 20px solid #ff6633; display: inline-block;").
                                            SEE DECEMBER ISSUE


        // ARTICLE
        // container table
        tr
          td
            table(border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;")
              tr
                td(class="padding" align="center" bgcolor="#ffffff" style="padding: 0px 0px 40px 0px;")

                  // wrapper table
                  table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="520")
                    tr
                      td
                        // SECTION TITLE
                        table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="100%" align="center" bgcolor="#7abfb4")
                          tr
                            td(class="section-title" align="center")
                              table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="480")
                                tr
                                  // vertical spacer
                                  td(style="padding: 5px 25px 10px 25px; font-size: 0;")
                                tr
                                  td(style="border-top: 4px solid #d7ebe8; font-size: 0;" width="100%")
                                tr
                                  td(class="body-text" style="padding: 5px 0px 10px 0px; font-family: 'Raleway', Helvetica, arial, sans-serif; font-weight: normal; font-size: 26px; line-height: 30px; text-transform: uppercase; color: #ffffff;").
                                    LETTERS TO THE EDITOR

                    tr
                      td
                        // ARTICLE BODY
                        table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="100%" align="center" style="border-left: 1px solid #cccccc; border-right: 1px solid #cccccc; border-bottom: 1px solid #cccccc;")
                          tr
                            td(class="padding" style="padding: 10px 0px 0px 0px;" align="center")
                              table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="480" align="center")
                                tr
                                  td(style="padding: 0px 0px 20px 0px;")
                                    a(class="body-text" href="#" style="text-decoration: none; font-family: 'Raleway', Helvetica, arial, sans-serif; font-weight: normal; font-size: 28px; line-height: 34px; color: #7abfb4;").
                                      Ten Tips for Maximizing the Effectiveness of Emergency Medicine Procedure Laboratories
                                tr
                                  td(class="body-text" style="padding: 0px 0px 20px 0px; font-family: 'Roboto', Helvetica, Arial, sans-serif; font-style: italic; font-weight: normal; font-size: 16px; text-align: left; line-height: 20px; color: #666666;").
                                    Joshua D. Lenchus, DO
                                tr
                                  td(class="body-text" style="padding: 0px 0px 25px 0px; font-family: 'Roboto', Helvetica, Arial, sans-serif; font-weight: normal; font-size: 16px; text-align: left; line-height: 20px; color: #666666;").
                                    Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas faucibus mollis interdum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
                                tr
                                  td(style="padding: 0px 0px 20px 0px;" align="center")
                                    // BUTTON
                                    table(width="100%" border="0" cellspacing="0" cellpadding="0")
                                      tr
                                        td(align="center" style="padding: 0;")
                                          a(class="body-text" href="#" target="_blank" style="font-size: 15px; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight: normal; color: #ffffff; text-decoration: none; text-transform: uppercase; letter-spacing: .5px; background-color: #7abfb4; border-top: 10px solid #7abfb4; border-bottom: 10px solid #7abfb4; border-left: 20px solid #7abfb4; border-right: 20px solid #7abfb4; display: inline-block;").
                                            READ NOW



        // ARTICLE
        // container table
        tr
          td
            table(border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;")
              tr
                td(class="padding" align="center" bgcolor="#ffffff" style="padding: 0px 0px 40px 0px;")

                  // wrapper table
                  table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="520")
                    tr
                      td
                        // SECTION TITLE
                        table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="100%" align="center" bgcolor="#a464c5")
                          tr
                            td(class="section-title" align="center")
                              table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="480")
                                tr
                                  // vertical spacer
                                  td(style="padding: 5px 25px 10px 25px; font-size: 0;")
                                tr
                                  td(style="border-top: 4px solid #dbc1e8; font-size: 0;" width="100%")
                                tr
                                  td(class="body-text" style="padding: 5px 0px 10px 0px; font-family: 'Raleway', Helvetica, arial, sans-serif; font-weight: normal; font-size: 26px; line-height: 30px; text-transform: uppercase; color: #ffffff;").
                                    ORIGINAL CONTRIBUTION

                    tr
                      td
                        // ARTICLE BODY

                        // double-article -- no border-bottom on this table
                        table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="100%" align="center" style="border-left: 1px solid #cccccc; border-right: 1px solid #cccccc;")
                          tr
                            td(class="padding" style="padding: 10px 0px 0px 0px;" align="center")
                              table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="480" align="center")
                                tr
                                  td(style="padding: 0px 0px 20px 0px;")
                                    a(class="body-text" href="#" style="text-decoration: none; font-family: 'Raleway', Helvetica, arial, sans-serif; font-weight: normal; font-size: 28px; line-height: 34px; color: #a464c5;").
                                      Assessment of Hospital Staff’s Knowledge of Osteopathic Manipulative Medicine: A Survey-Based Study
                                tr
                                  td(class="body-text" style="padding: 0px 0px 20px 0px; font-family: 'Roboto', Helvetica, Arial, sans-serif; font-style: italic; font-weight: normal; font-size: 16px; text-align: left; line-height: 20px; color: #666666;").
                                    Jessica B. Smith-Kelly, DO; Andres Cardenas, PhD, MPH
                                tr
                                  td(class="body-text" style="padding: 0px 0px 25px 0px; font-family: 'Roboto', Helvetica, Arial, sans-serif; font-weight: normal; font-size: 16px; text-align: left; line-height: 20px; color: #666666;").
                                    Osteopathic manipulative treatment can shorten hospital length of stay, yet hospital staff may be unaware of this treatment option. The authors investigated knowledge of osteopathic manipulative medicine by job category at one hospital.
 
                                tr
                                  td(style="padding: 0px 0px 20px 0px;" align="center")
                                    // BUTTON
                                    table(width="100%" border="0" cellspacing="0" cellpadding="0")
                                      tr
                                        td(align="center" style="padding: 0;")
                                          a(class="body-text" href="#" target="_blank" style="font-size: 15px; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight: normal; color: #ffffff; text-decoration: none; text-transform: uppercase; letter-spacing: .5px; background-color: #a464c5; border-top: 10px solid #a464c5; border-bottom: 10px solid #a464c5; border-left: 20px solid #a464c5; border-right: 20px solid #a464c5; display: inline-block;").
                                            READ NOW

                          // double-article, so add these 2 rows
                          tr
                            td(style="padding: 0px 0px 10px 0px; border-bottom: 1px solid #cccccc; font-size: 0;")
                          tr
                            td(style="padding: 0px 0px 10px 0px; font-size: 0;")

                        // ARTICLE BODY
                        table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="100%" align="center" style="border-left: 1px solid #cccccc; border-right: 1px solid #cccccc; border-bottom: 1px solid #cccccc;")
                          tr
                            td(class="padding" style="padding: 10px 0px 0px 0px;" align="center")
                              table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="480" align="center")
                                tr
                                  td(style="padding: 0px 0px 20px 0px;")
                                    a(class="body-text" href="#" style="text-decoration: none; font-family: 'Raleway', Helvetica, arial, sans-serif; font-weight: normal; font-size: 28px; line-height: 34px; color: #a464c5;").
                                      Association Between WIC Enrollment and Exclusive Breastfeeding at 3 Months Postpartum Among Low-Income Mothers 
                                tr
                                  td(class="body-text" style="padding: 0px 0px 20px 0px; font-family: 'Roboto', Helvetica, Arial, sans-serif; font-style: italic; font-weight: normal; font-size: 16px; text-align: left; line-height: 20px; color: #666666;").
                                    John Francescon, OMS III; Zelalem T. Haile, PhD, MPH; David Kling, OMS III; Ilana Chertok, PhD, MSN, RN, IBCLC
                                tr
                                  td(class="body-text" style="padding: 0px 0px 25px 0px; font-family: 'Roboto', Helvetica, Arial, sans-serif; font-weight: normal; font-size: 16px; text-align: left; line-height: 20px; color: #666666;").
                                    The association between exposure to the Special Supplemental Nutrition Program for Women, Infants, and Children and exclusive breastfeeding at 3 months postpartum was examined.
 
 
                                tr
                                  td(style="padding: 0px 0px 20px 0px;" align="center")
                                    // BUTTON
                                    table(width="100%" border="0" cellspacing="0" cellpadding="0")
                                      tr
                                        td(align="center" style="padding: 0;")
                                          a(class="body-text" href="#" target="_blank" style="font-size: 15px; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight: normal; color: #ffffff; text-decoration: none; text-transform: uppercase; letter-spacing: .5px; background-color: #a464c5; border-top: 10px solid #a464c5; border-bottom: 10px solid #a464c5; border-left: 20px solid #a464c5; border-right: 20px solid #a464c5; display: inline-block;").
                                            READ NOW


        // ARTICLE
        // container table
        tr
          td
            table(border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;")
              tr
                td(class="padding" align="center" bgcolor="#ffffff" style="padding: 0px 0px 40px 0px;")

                  // wrapper table
                  table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="520")
                    tr
                      td
                        // SECTION TITLE
                        table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="100%" align="center" bgcolor="#f26046")
                          tr
                            td(class="section-title" align="center")
                              table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="480")
                                tr
                                  // vertical spacer
                                  td(style="padding: 5px 25px 10px 25px; font-size: 0;")
                                tr
                                  td(style="border-top: 4px solid #fabfb5; font-size: 0;" width="100%")
                                tr
                                  td(class="body-text" style="padding: 5px 0px 10px 0px; font-family: 'Raleway', Helvetica, arial, sans-serif; font-weight: normal; font-size: 26px; line-height: 30px; text-transform: uppercase; color: #ffffff;").
                                    ORIGINAL CONTRIBUTION

                    tr
                      td
                        // ARTICLE BODY
                        table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="100%" align="center" style="border-left: 1px solid #cccccc; border-right: 1px solid #cccccc; border-bottom: 1px solid #cccccc;")
                          tr
                            td(class="padding" style="padding: 10px 0px 0px 0px;" align="center")
                              table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="480" align="center")
                                tr
                                  td(style="padding: 0px 0px 20px 0px;")
                                    a(class="body-text" href="#" style="text-decoration: none; font-family: 'Raleway', Helvetica, arial, sans-serif; font-weight: normal; font-size: 28px; line-height: 34px; color: #f26046;").
                                      Are Low-Carbohydrate Diets Safe and Effective?
                                tr
                                  td(class="body-text" style="padding: 0px 0px 20px 0px; font-family: 'Roboto', Helvetica, Arial, sans-serif; font-style: italic; font-weight: normal; font-size: 16px; text-align: left; line-height: 20px; color: #666666;").
                                    Heather Fields, MD; Barbara Ruddy, MD; Mark R. Wallace, MD; Amit Shah, MD; Denise Millstine, MD
                                tr
                                  td(class="body-text" style="padding: 0px 0px 25px 0px; font-family: 'Roboto', Helvetica, Arial, sans-serif; font-weight: normal; font-size: 16px; text-align: left; line-height: 20px; color: #666666;").
                                    Fields and colleagues looked at the effects of low-carbohydrate diets on weight loss, blood pressure, glucose levels, and lipid levels in this review of the literature.
                                tr
                                  td(style="padding: 0px 0px 20px 0px;" align="center")
                                    // BUTTON
                                    table(width="100%" border="0" cellspacing="0" cellpadding="0")
                                      tr
                                        td(align="center" style="padding: 0;")
                                          a(class="body-text" href="#" target="_blank" style="font-size: 15px; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight: normal; color: #ffffff; text-decoration: none; text-transform: uppercase; letter-spacing: .5px; background-color: #f26046; border-top: 10px solid #f26046; border-bottom: 10px solid #f26046; border-left: 20px solid #f26046; border-right: 20px solid #f26046; display: inline-block;").
                                            READ NOW




        tr
          td(align="center")
            
            // FOOTER
            // container table
            table(border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;")
              tr
                td(align="center")
                  // wrapper table
                  table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="600")
                    tr
                      td(align="center" style="padding: 20px 0 20px 0;")
                        // content table
                        table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="100%")
                          tr
                            td(class="body-text" align="center" style="font-family: 'Roboto', Helvetica, arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 24px; color: #666666;")
                              | #[span(class="appleFooter" style="color: #666666; font-weight: bold;") The Journal of the American Osteopathic Association]
                              br
                              | #[span(style="color: #666666; font-weight: normal; font-style: italic") 142 E. Ontario St, Chicago, IL 60611]
                              
                  
                        
        tr
          td(style="padding: 0px 0px 36px 0px;")
