// CONTAINER FOR EMAIL
table(border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;")
  tr
    td(align="center" bgcolor="#f1f2f2")

      // EMAIL START
      // wrapper table
      table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="600")
        tr
          td(style="padding: 36px 0px 0px 0px;")
        tr
          td(style="box-shadow: 0px 0px 12px #888888;")




            // HEADER
            // container table
            table(border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;")
              tr
                td(align="center")
                  // content
                  table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="600")
                    tr
                      td(align="center" bgcolor="#1A2026" style="padding: 15px 0px 15px 0px;")
                        img(class="fluid-image" border="0" src="http://aoa-do.informz.net/aoa-do/data/images/jaoa/jaoa-logo.png" alt="JAOA logo" width="300" height="52" style="display: block; padding: 0; color: #ffffff; font-family: Helvetica, arial, sans-serif; font-size: 16px;")

        // VINTAGE BANNER
        // container table
        tr
          td
            table(border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;")
              tr
                td(align="center")
                  // wrapper table
                  table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="600")
                    tr
                      td
                        // content
                        table(border="0" cellpadding="0" cellspacing="0" width="100%")
                          tr
                            td
                              img(class="fluid-image" src="http://aoa-do.informz.net/aoa-do/data/images/jaoa/december-banner.png" width="600" height="300" border="0" alt="Vintage stomach illustration" style="display: block; padding: 0; color: #ffffff; font-family: Helvetica, arial, sans-serif; font-size: 16px;")


        // INTRO
        // container table
        tr
          td
            table(border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;")
              tr
                td(class="padding" align="center" bgcolor="#ffffff" style="padding: 40px 0px 40px 0px;")

                  // wrapper table
                  table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="520")
                    tr
                      td
                        // content
                        table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="31%" align="left")
                          tr
                            td(class="padding" align="center")
                              a(href="#" target="_blank" style="text-decoration: none;")
                                img(src="http://aoa-do.informz.net/aoa-do/data/images/jaoa/cover.jpg" width="188" height="260" border="1" alt="JAOA cover" style="display: block; padding: 0; color: #ffffff; font-family: Helvetica, arial, sans-serif; font-size: 16px; border: 1px solid #cccccc;")
      
                        table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="58%" align="right")
                          tr
                            td(class="mobile-text-center" style="padding: 0 0 20px 0; font-family: 'Raleway', Helvetica, arial, sans-serif; font-weight: normal; font-size: 28px; text-align: left; line-height: 32px; color: #ff6633;").
                              Lorem Ipsum Dolor
                          tr
                            td(class="padding" style="padding: 0 0 20px 0; font-family: 'Roboto', Helvetica, arial, sans-serif; font-weight: normal; font-size: 16px; text-align: left; line-height: 20px; color: #666666;").
                                Sed posuere consectetur est at lobortis. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.
                          tr
                            td(class="padding")
                              // BUTTON
                              table(border="0" cellpadding="0" cellspacing="0" width="100%")
                                tr
                                  td
                                    table(border="0" cellspacing="0" cellpadding="0" align="center")
                                      tr
                                        td(style="padding: 11px 18px 11px 18px;" align="center")
                                          a(href="#" target="_blank" style="font-size: 15px; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight: normal; color: #ffffff; text-decoration: none; text-transform: uppercase; letter-spacing: .5px; background-color: #ff6633; border-top: 10px solid #ff6633; border-bottom: 10px solid #ff6633; border-left: 20px solid #ff6633; border-right: 20px solid #ff6633; display: inline-block;").
                                            SEE DECEMBER ISSUE




        // ARTICLE
        // container table
        tr
          td
            table(border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;")
              tr
                td(class="padding" align="center" bgcolor="#ffffff" style="padding: 0px 0px 40px 0px;")

                  // wrapper table
                  table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="520")
                    tr
                      td
                        // SECTION TITLE
                        table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="100%" align="center" bgcolor="#7abfb4")
                          tr
                            td(class="section-title" align="center")
                              table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="480")
                                tr
                                  // vertical spacer
                                  td(style="padding: 5px 25px 10px 25px; font-size: 0;")
                                tr
                                  td(style="border-top: 4px solid #d7ebe8; font-size: 0;" width="100%")
                                tr
                                  td(style="padding: 5px 0px 10px 0px; font-family: 'Raleway', Helvetica, arial, sans-serif; font-weight: normal; font-size: 26px; line-height: 30px; text-transform: uppercase; color: #ffffff;").
                                    LETTERS TO THE EDITOR

                    tr
                      td
                        // ARTICLE BODY
                        table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="100%" align="center" style="border-left: 1px solid #cccccc; border-right: 1px solid #cccccc; border-bottom: 1px solid #cccccc;")
                          tr
                            td(class="padding" style="padding: 10px 0px 0px 0px;")
                              table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="480" align="center")
                                tr
                                  td(style="padding: 0px 0px 20px 0px;")
                                    a(href="#" style="text-decoration: none; font-family: 'Raleway', Helvetica, arial, sans-serif; font-weight: normal; font-size: 28px; line-height: 34px; color: #7abfb4;").
                                      Ten Tips for Maximizing the Effectiveness of Emergency Medicine Procedure Laboratories
                                tr
                                  td(style="padding: 0px 0px 20px 0px; font-family: 'Roboto', Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; text-align: left; line-height: 17px; color: #666666;").
                                    Joshua D. Lenchus, DO
                                tr
                                  td(style="padding: 0px 0px 20px 0px; font-family: 'Roboto', Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; text-align: left; line-height: 17px; font-style: italic; color: #666666;").
                                    The Journal of the American Osteopathic Association, December 2016, Vol. 116, 762. doi:10.7556/jaoa.2016.150
                                tr
                                  td(style="padding: 0px 0px 20px 0px;")
                                    // BUTTON
                                    table(width="100%" border="0" cellspacing="0" cellpadding="0")
                                      tr
                                        td(align="center" style="padding: 0;")
                                          table(border="0" cellspacing="0" cellpadding="0")
                                            tr
                                              td(align="center")
                                                a(href="#" target="_blank" style="font-size: 15px; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight: normal; color: #ffffff; text-decoration: none; text-transform: uppercase; letter-spacing: .5px; background-color: #7abfb4; border-top: 10px solid #7abfb4; border-bottom: 10px solid #7abfb4; border-left: 20px solid #7abfb4; border-right: 20px solid #7abfb4; display: inline-block;").
                                                  READ NOW


        // ARTICLE
        // container table
        tr
          td
            table(border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;")
              tr
                td(class="padding" align="center" bgcolor="#ffffff" style="padding: 0px 0px 40px 0px;")

                  // wrapper table
                  table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="520")
                    tr
                      td
                        // SECTION TITLE
                        table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="100%" align="center" bgcolor="#7abfb4")
                          tr
                            td(class="section-title" align="center")
                              table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="480")
                                tr
                                  // vertical spacer
                                  td(style="padding: 5px 25px 10px 25px; font-size: 0;")
                                tr
                                  td(style="border-top: 4px solid #d7ebe8; font-size: 0;" width="100%")
                                tr
                                  td(style="padding: 5px 0px 10px 0px; font-family: 'Raleway', Helvetica, arial, sans-serif; font-weight: normal; font-size: 26px; line-height: 30px; text-transform: uppercase; color: #ffffff;").
                                    LETTERS TO THE EDITOR

                    tr
                      td
                        // ARTICLE BODY
                        table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="100%" align="center" style="border-left: 1px solid #cccccc; border-right: 1px solid #cccccc; border-bottom: 1px solid #cccccc;")
                          tr
                            td(class="padding" style="padding: 10px 0px 0px 0px;")
                              table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="480" align="center")
                                tr
                                  td(style="padding: 0px 0px 20px 0px;")
                                    a(href="#" style="text-decoration: none; font-family: 'Raleway', Helvetica, arial, sans-serif; font-weight: normal; font-size: 28px; line-height: 34px; color: #7abfb4;").
                                      Ten Tips for Maximizing the Effectiveness of Emergency Medicine Procedure Laboratories
                                tr
                                  td(style="padding: 0px 0px 20px 0px; font-family: 'Roboto', Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; text-align: left; line-height: 17px; color: #666666;").
                                    Joshua D. Lenchus, DO
                                tr
                                  td(style="padding: 0px 0px 20px 0px; font-family: 'Roboto', Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; text-align: left; line-height: 17px; font-style: italic; color: #666666;").
                                    The Journal of the American Osteopathic Association, December 2016, Vol. 116, 762. doi:10.7556/jaoa.2016.150
                                tr
                                  td(style="padding: 0px 0px 20px 0px;")
                                    // BUTTON
                                    table(width="100%" border="0" cellspacing="0" cellpadding="0")
                                      tr
                                        td(align="center" style="padding: 0;")
                                          table(border="0" cellspacing="0" cellpadding="0")
                                            tr
                                              td(align="center")
                                                a(href="#" target="_blank" style="font-size: 15px; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight: normal; color: #ffffff; text-decoration: none; text-transform: uppercase; letter-spacing: .5px; background-color: #7abfb4; border-top: 10px solid #7abfb4; border-bottom: 10px solid #7abfb4; border-left: 20px solid #7abfb4; border-right: 20px solid #7abfb4; display: inline-block;").
                                                  READ NOW

        tr
          td(style="padding: 0px 0px 36px 0px;")
