// FOOTER
// container table
table(border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;")
  tr
    td(align="center")
      // wrapper table
      table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="600")
        tr
          td(align="center" style="padding: 20px 0 20px 0;")
            // content table
            table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="100%")
              tr
                td(class="body-text" align="center" style="font-family: 'Roboto', Helvetica, arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 24px; color: #666666;")
                  | #[span(class="appleFooter" style="color: #666666; font-weight: bold;") The Journal of the American Osteopathic Association]
                  br
                  | #[span(style="color: #666666; font-weight: normal; font-style: italic") 142 E. Ontario St, Chicago, IL 60611]
