// INTRO
tr
  td
    table(border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;")
      tr
        td(class="padding" align="center" bgcolor="#ffffff" style="padding: 40px 0px 40px 0px;")

          // wrapper table
          table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="520")
            tr
              td
                // content
                table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="31%" align="left")
                  tr
                    td(class="padding" align="center")
                      a(href="#" target="_blank" style="text-decoration: none;")
                        img(src="http://aoa-do.informz.net/aoa-do/data/images/jaoa/cover.jpg" width="188" height="260" border="1" alt="JAOA cover" style="display: block; padding: 0; color: #ffffff; font-family: Helvetica, arial, sans-serif; font-size: 16px; border: 1px solid #cccccc;")

                table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="58%" align="right")
                  tr
                    td(class="mobile-text-center" style="padding: 0 0 20px 0; font-family: 'Raleway', Helvetica, arial, sans-serif; font-weight: normal; font-size: 28px; text-align: left; line-height: 32px; color: #ff6633;").
                      Lorem Ipsum Dolor
                  tr
                    td(class="intro-text" style="padding: 0 0 20px 0; font-family: 'Roboto', Helvetica, arial, sans-serif; font-weight: normal; font-size: 16px; text-align: left; line-height: 20px; color: #666666;").
                        Sed posuere consectetur est at lobortis. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.
                  tr
                    td(class="padding")
                      // BUTTON
                      table(border="0" cellpadding="0" cellspacing="0" width="100%")
                        tr
                          td
                            table(border="0" cellspacing="0" cellpadding="0" align="center")
                              tr
                                td(style="padding: 11px 18px 11px 18px;" align="center")
                                  a(class="body-text" href="#" target="_blank" style="font-size: 15px; font-family: 'Raleway', Helvetica, Arial, sans-serif; font-weight: normal; color: #ffffff; text-decoration: none; text-transform: uppercase; letter-spacing: .5px; background-color: #ff6633; border-top: 10px solid #ff6633; border-bottom: 10px solid #ff6633; border-left: 20px solid #ff6633; border-right: 20px solid #ff6633; display: inline-block;").
                                    SEE DECEMBER ISSUE
